body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-color {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.list-header {
    list-style-type: none;
    text-decoration: none;
}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.link-nav:hover {
    color: #404bbf;
}
.link-nav:focus {
    color: #404bbf;
}

.item-contacts {
    font-style: normal;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.contacts:hover {
    color: #404bbf;
}
.contacts:focus {
    color: #404bbf;
}

.main-section {
    background: #2e2f42;
}

.title-solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.button-text:hover {
    background-color: #404BBF;
}
.button-text:focus {
    background-color: #404BBF;
}
.title-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.list-features {
    list-style-type: none;
    text-decoration: none;
}

.title-point {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.our-team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-photo {
    background-color: #fff;
}

.list-team {
    list-style-type: none;
    text-decoration: none;
}

.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-decoration: none;
}

.about {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
    text-decoration: none;
}

.title-portfolio {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.list-portfolio {
    list-style-type: none;
    text-decoration: none;
}

.project-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background: #2e2f42;
}


.logo-color-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}